name: Quality Gate

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened, ready_for_review]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FLUTTER_VERSION: ${{ secrets.FLUTTER_VERSION }}

jobs:
  setup:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: ${{ env.FLUTTER_VERSION }}
          cache: true

      - name: Disable analytics of flutter
        run: flutter config --no-analytics

      - name: Install pub Dependencies
        run: flutter pub get

      - name: Generate code
        run: |
          flutter gen-l10n
          dart run build_runner build --delete-conflicting-outputs

      - name: Check Formatting
        run: dart format --output=none --set-exit-if-changed .

      - name: Analyze (Linting)
        run: flutter analyze

      - name: Run Tests
        run: flutter test
